@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');
*

{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

body
{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	background: #010615;
	min-height: 100vh;
}

.fh5co-narrow-content .box
{
	position: relative;
	width: 250px;
	height: 270px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 20px;
	background: #060c21;
	transition: 0.5s;
}

.fh5co-narrow-content .box:hover
{
	height: 270px;		
}
.fh5co-narrow-content .box .imgBx
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 10px;
	box-sizing: border-box;
}

.fh5co-narrow-content .box .imgBx img
{
	max-width: 100%;
	opacity: 1;
	transition: 0.5s;
}

.fh5co-narrow-content .box:hover .imgBX img
{
	opacity: 1;
}
.fh5co-narrow-content .box:before
{
	content: '';
	position: absolute;
	top: -2px;
	left: -2px;
	right: -2px;
	bottom: -2px;
	background: #fff;
	z-index: -1;
}

.fh5co-narrow-content .box:after
{
	content: '';
	position: absolute;
	top: -2px;
	left: -2px;
	right: -2px;
	bottom: -2px;
	background: #fff;
	z-index: -2;
	filter: blur(40px);
}

.fh5co-narrow-content .box:before,
.fh5co-narrow-content .box:after
{
	background: linear-gradient(235deg,#89ff00,#010615,#00bcd4);
}

.fh5co-narrow-content .box .content
{
	position: absolute;
	bottom: 0;
	left: 10px;
	right: 10px;
	bottom: 90px;
	height: 90px;
	background: rgba(0,0,0,0.4);
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	opacity: 0;
	transition: 0.5s;
}

.fh5co-narrow-content .box:hover .content
{
	opacity: 1;
}
.fh5co-narrow-content .box .content h2
{
	font-size: 20px;
	color: #fff;
	font-weight: 500;
	line-height: 20px;
	letter-spacing: 1px;
}

.fh5co-narrow-content .box .content h2 span
{
	font-size: 14px;
	color: #fff;
	font-weight: 200;
	letter-spacing: 2px;
}
/*
.box:nth-child(2):before,
.box:nth-child(2):after
{
	background: linear-gradient(235deg,#ff005e,#010615,#fbff00);
}
*/

.row .row-bottom-padded-md.col-md-3 .col-sm-6 .col-padding .text-center .animate-box{
	background: linear-gradient(235deg,#ff005e,#010615,#fbff00);
}

@media (max-width: 600px)
{
	.col-md-3 col-sm-6 col-padding text-center animate-box .box
	{
		width: 580px;
	}
}
